LoadPlugin write_graphite

<Plugin write_graphite>
  <Node "{{ ansible_hostname }}">
    Host "localhost"
    Port "2003"
    Protocol "tcp"
    LogSendErrors true
    Prefix "hosts."
    Postfix ""
    StoreRates true
    AlwaysAppendDS false
    EscapeCharacter "_"
  </Node>
</Plugin>
